{% extends 'base.html' %}

{% block content %}
<h2 class="text-center lg-heading text-white">About Us</h2>
    <div class="about-text text-white md-heading">
            We are here to help people who wants to sell their cars and also try to maximize their profit by suggesting them to do some modifications for their selling car.
            Here we will take the input from the user of his/her car's info and we will predict the actual price of the car plus we will suggest them to do some modifications so that it's actual price will be increased which may help user to make some profit from it. <br>
            <br>Project by <br>Mayur Telrandhe, Prathmesh Waghmode and Sudhanshu Narsude.<br> 

    </div>
{% endblock %}