{% extends 'base.html' %}

{% block content %}
<section>

    <h2 class="text-center lg-heading text-white">Home Page</h2>

    <div class="text-white to-the-center">
        <form class="forms" action="/" method="POST">
            {% csrf_token %}
            <label for="age">Car Age</label>
            <input type="number" id="age" name="car_age"><br>

            <label for="kms">Kilometers driven</label>
            <input type="number" id="kms" name="km_driven"><br>

            <label for="milage">Mileage</label>
            <input type="number" id="milage" name="mileage"><br>

            <label for="hp">Horse Power</label>
            <input type="number" id="hp" name="horsepower"><br>

            <label for="owner">Ownership</label>
            <select class="ip-select" id="owner">
                <option value="choose">----Choose----</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select><br>

            <label for="transmission">Transmission Type</label>
            <select class="ip-select" id="transmission">
                <option value="choose">----Choose----</option>
                <option value="manual">Manual</option>
                <option value="automatic">Automatic</option>
            </select><br>

            <label for="scratches">Scratches</label>
            <input type="number" id="scratches"><br>

            <label for="dents">Dents</label>
            <input type="number" id="dents"><br>


            <input  class="btn-grey text-center" type="submit"><br><br>
        </form>
    </div>

</section>
{% endblock %}
