{% extends 'base.html' %}

{% block content %}
<section>

    <h2 class="text-center lg-heading text-white">Home Page</h2>

    <div class="text-white to-the-center">
        <form class="forms" action="">
            <p>Car Model</p><input type="text"><br>
            <p>Car Age</p><input type="number"><br>
            <p>Car Purchase Date</p><input type="date"><br>
            <p>Kilometers driven</p><input type="number"><br>
            <p>Mileage</p><input type="number"><br>
            <p>Horse Power</p><input type="number"><br>
            <p>Ownership</p><input type="number"><br>
            <p>Scratches</p><input type="number"><br>
            <p>Dents</p><input type="number"><br>

            <input  class="btn-grey text-center" type="submit"><br><br>
        </form>
    </div>

</section>
{% endblock %}
