{% extends 'base.html' %}

{% block content %}
<section>

    <h2 class="text-center lg-heading text-white">Home Page</h2>

    <div class="text-white to-the-center">
        <form class="forms" action="">
            <label for="model">Car Model</label>
            <input type="text" id="model"><br>

            <label for="age">Car Age</label>
            <input type="number" id="age"><br>

            <label for="purchase_date">Car Purchase Date</label>
            <input class="ip-date" type="date" id="purchase_date"><br>

            <label for="kms">Kilometers driven</label>
            <input type="number" id="kms"><br>

            <label for="milage">Mileage</label>
            <input type="number" id="milage"><br>

            <label for="hp">Horse Power</label>
            <input type="number" id="hp"><br>

            <label for="owner">Ownership</label>
            <input type="number" id="owner"><br>

            <label for="transmission">Transmission Type</label>
            <select class="ip-select" id="transmission">
                <option value="choose">Choose</option>
                <option value="manual">Manual</option>
                <option value="automatic">Automatic</option>
            </select><br>

            <label for="scratches">Scratches</label>
            <input type="number" id="scratches"><br>

            <label for="dents">Dents</label>
            <input type="number" id="dents"><br>


            <input  class="btn-grey text-center" type="submit"><br><br>
        </form>
    </div>

</section>
{% endblock %}
