@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;550;600&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

a,p, label, li{
    font-size: 1.8rem;
    padding-bottom: 0.5em;
    letter-spacing: 0.05em;
}

h1,h2,h3,h4{
    margin-bottom: 0.5em;
    letter-spacing: 0.09em;
    font-weight: 500;
}

a:link{text-decoration: none;}
a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
a:active{text-decoration: none;}


.navbar{
    padding: 1rem 0;
    background-color: rgba(0,0,0,0.7);
}
.navbar::after{
    content: '';
    display: block;
    clear: both;
}

.navbar h2{
    margin: 0 10rem;
    float: left;
}
.navbar .nav-links{
    float: right;
}
.nav-links{
    margin: 0 10rem;
    text-transform: uppercase;
}
.nav-items{
    display: inline-block;
    padding: 0.5rem 2rem;
}
.nav-items a:link,
.nav-items a:visited{
    color: #f4f4f4;
    padding-bottom: 1px;
}

.nav-items a:link:hover{
    border-bottom: 1.2px solid white;
}

.to-the-center{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}



/* ############################ utility classes ########################## */
.lg-heading{
    font-size: 2.7rem;
}
.md-heading{
    font-size: 2rem;
}
.text-white{
    color: white;
}


.forms{
    margin: 8rem 10rem;
    padding: 4em;
    background-color: rgba(0,0,0,0.8);
    border: 2px solid rgba(0,0,0);
    box-shadow: 6px 6px 15px 5px rgba(0, 0, 0, 0.7), 6px 6px 15px 5px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    width: 60rem;
}
.forms label{
    display: inline-block;
    margin: 0.6rem;
    padding: 1rem 0;
    font-size: 1.9rem;
}
.forms .ip-select, .forms option{
    display: inline-block;
    padding: 6px 40px;
}

.forms input, .forms select{
    float: right;
    margin: 0.6rem;
    padding: 6px 14px;
}

.text-center{
    margin-top: 2.3rem;
    text-align: center;
    text-transform: uppercase;
}

.forms button{
    margin: 1rem 0;
    padding: 0.8em 0;
}

.btn-grey{
    border: 2px solid rgba(150, 150, 150);
    background-color: rgba(200,200,200);
    border-radius: 5px;
    width: 100%;
}
.btn-grey:hover{
    background-color: rgba(100,100,100, 0.6);
    color: rgba(200,200,200);
}

.underline{
    border-bottom: 0.3rem solid rgb(211, 25, 25);
    width: 100%;
    font-weight: 550;
}

.fa-plus{
    size: 12px;
}


/* ####################### footer ########################### */
.footers{
    background-color: #1b1e1f;
    color: azure;
    padding-bottom: 2rem;
    text-align: center;
}
.social-media-links i{
    margin: 2.5rem;
}

/* ############################ result page ####################### */
.result-head{
    background: rgba(0, 0, 0, 0.8);
    margin-top: 5rem;
    padding: 0.5rem 0;
}
.show-result{
    /* background: rgba(0, 0, 0, 0.9); */
    margin: 10rem 10rem;
    padding : 5em;
}
.show-result ul {
    list-style: none; /* Remove default bullets */
    margin-top: 4rem;
}
.show-result li{
    padding-bottom: 1.5rem;
}
.show-result h2{
    padding-bottom: 0.5rem;
}
.show-result .right-block span{
    padding-left: 2rem;
    color: rgb(0, 240, 52);
}
  
.left-block ul li::before {
    font-family: "FontAwesome";
    content: '\f1b9';  /*car icon*/
    font-size: medium;
    color: rgb(255, 255, 255); /* Change the color */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1.2em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
    margin-right: 1rem;
}
.left-block{
    width: 49%;
    float: left;
    background: rgba(0, 0, 0, 0.8);
    padding : 5em;
    border-radius: 10px;
}
.right-block{
    width: 49%;
    float: right;
    background: rgba(0, 0, 0, 0.8);
    padding : 5em;
    border-radius: 10px;
    height: 60rem;
}
.right-block ul li::before {
    font-family: "FontAwesome";
    content: '\f00c';  /*check icon */
    font-size: 1.5rem;
    color: rgb(255, 255, 255); /* Change the color */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1.2em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
    margin-right: 1rem;
}
.show-result::after{
    content: "";
    clear: both;
    display: block;
}
.inr-sign::before{
    content:"\20B9";
}

/* To hover the suggestions */
.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    width: 40rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border:1.5px solid rgb(211, 25, 25);
    border-radius: 5px;
    z-index: 1;
    color: white;
    padding: 1rem;
}
.dropdown-content p{font-size: 1.5rem;}
  
.dropdown:hover .dropdown-content {
    display: block;
}


/* ###########################  about us ########################## */

.about-text{
    /* border: 1px red solid; */
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    margin: 10rem;
    padding: 2.5em;
    letter-spacing: 0.03em;
    word-spacing: 0.08em;
    line-height: 4rem;
}



/* ######################### contact page ####################### */

.contact-form{
    width: 80%;
    margin: 5rem auto;
    padding: 5rem 0;
    color: white;
}
.form-wrapper{
    font-size: 1.6rem;
}

.form-wrapper::after{
    content: '';
    display: block;
    clear: both;
}

.company-address{
    float: left;
    width: 48%;
    /* border: 2px dotted black; */
    padding: 2em;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.5);
    border-radius: 15px;
}
.form{
    float: right;
    width: 48%;
    /* border: 2px dotted black; */
    padding: 2em;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.5);
    border-radius: 15px;
}

.address-group{
    padding-bottom: 2rem;
}
.company-address i{
    display: inline-block;
    padding-right: 0.3em;
    color: rgb(211, 25, 25);
}
.company-address h2{
    display: inline-block;
    font-size: 2.1rem;
    font-weight: 600;
    letter-spacing: 0.07em;
}
.company-address p{
    padding-left: 4.8rem;
}

.company-address img{
    max-width: 95%;
    min-height: 40rem;
    object-fit: cover;
    margin-bottom: 0.75rem;
}

/* ######################### form styling ######################### */

.form-wrapper .form h1{
    border-bottom: 0.35rem solid rgb(211, 25, 25);
    width: 100%;
    font-weight: 550;
}
.form-wrapper .form label{
    display: block;
    padding-bottom: 0.5em;
}
.form-wrapper .form label::after{
    content: " *";
    color: red;
}
.form-wrapper .form input{
    padding: 0.5rem;
    width: 100%;
}
.form-wrapper .form-group{
    margin-top: 3rem;
}

.form-wrapper .form textarea{
    width: 100%;
    height: 250px;
    padding: 1rem;
}

.form-wrapper .form-btn{
    width: 100%;
    padding: 1rem 0;
    margin-top: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
    border: 2px solid rgb(255, 81, 81);
    background: rgb(211, 25, 25);
    color: white;
    
}

.form-wrapper .form-btn:hover{
    background-color: rgb(211, 38, 38);
}


/* ############################ media queries ########################## */
@media(max-width: 500px){
    html{
        font-size: 50%;
    }
    .nav-items, .logo{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    .nav-items{
        padding-left: 40px;
    }

    .row{
        height: auto;
        width: 100%;
    }
    .row .img-box, .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }

    /* ########about us########## */
    .features .box{
        float: none;
        width: 100%;
        text-align: center;
        box-shadow: 5px 5px 10px rgba(102,102,102,0.521);
    }
    .features .box-2, .features .box-3{
        margin-top: 3rem;
    }
    .box-wrapper{
        box-shadow:none;
    }

    .contact-banner .cb-left, .contact-banner .cb-right{
        float: none;
        text-align: center;
        width: 100%;
    }
    .contact-banner h3{
        border: none;
    }
    /* ######### contact us ########### */
    .contact-form{
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .contact-form .company-address, .contact-form .form{
        float: none;
        width: 90%;
        margin: 50px auto;
        height: auto;
    }
}

@media(min-width:501px) and (max-width: 768px){
    html{
        font-size: 50%;
    }
    p{
        font-size: 1.8rem;
    }
    
    .nav-items{
        padding-left: 40px;
    }

    .row{
        height: auto;
        width: 100%;
    }
    .row .img-box, .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }

    /* ########about us########## */
    .features .box{
        float: none;
        width: 100%;
        text-align: center;
        box-shadow: 5px 5px 10px rgba(102,102,102,0.521);
    }
    .features .box-2, .features .box-3{
        margin-top: 3rem;
    }
    .box-wrapper{
        box-shadow:none;
    }

    .contact-banner .cb-left, .contact-banner .cb-right{
        float: none;
        text-align: center;
        width: 100%;
    }
    .contact-banner h3{
        border: none;
    }
    /* ######### contact us ########### */
    .contact-form{
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .contact-form .company-address, .contact-form .form{
        float: none;
        width: 90%;
        margin: 50px auto;
        height: auto;
    }
}

@media(min-width:769px) and (max-width: 1200px){
    html{
        font-size: 56.25%;
    }
}